/* Estilos específicos para a página Space Out */
.game-header {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/Images/FrontPhoto.png');
    background-size: cover;
    background-position: center;
}

.main-display {
    border: 4px solid rgba(50, 50, 50, 0.8); /* Borda mais grossa e cor próxima ao fundo */
}

.thumbnail {
    width: 120px;
    height: 90px;
    border: 3px solid rgba(50, 50, 50, 0.8);
    border-radius: 10px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-media img, .main-media video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}